<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Proyecto Musical</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <!-- CDN DE TAILWIND -->
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.0.2/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <!-- <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> -->
    <script src="../static/src/chartRespaldo.js"></script>
    <script src="../static/src/script.js"></script>
  </head>

  <body>
    <div class="container mx-auto p-4">
      <h1 class="text-3xl font-bold text-center mb-8">Proyecto Musical</h1>
      <div
        class="grid grid-cols-1 md:grid-cols-2 lg:flex lg:flex-row gap-4 mb-4"
      >
        <div class="border border-gray-500 p-5 rounded-lg lg:w-1/2">
          <h2 class="text-2xl font-bold mb-4">Datos en Tiempo Real</h2>
          <div class="overflow-x-auto">
            <table
              id="datos-tabla"
              class="table-auto w-full border-collapse border border-gray-200"
            >
              <thead class="bg-gray-200">
                <tr>
                  <th class="border border-gray-300 px-4 py-2">Tecla</th>
                  <th class="border border-gray-300 px-4 py-2">Nota Tecla</th>
                  <th class="border border-gray-300 px-4 py-2">Frecuencia</th>
                  <th class="border border-gray-300 px-4 py-2">
                    Nota Detectada
                  </th>
                  <th class="border border-gray-300 px-4 py-2">Correcta</th>
                  <th class="border border-gray-300 px-4 py-2">Timestamp</th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
        </div>
        <div class="border border-gray-500 p-5 rounded-lg lg:w-1/2">
          <h2 class="text-2xl font-bold mb-4">
            Gráfica de Frecuencia vs Tiempo
          </h2>
          <div class="flex justify-center">
            <canvas id="frecuenciaChart" class="max-w-full h-auto"></canvas>
          </div>
        </div>
      </div>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div class="border border-gray-500 p-5 rounded-lg">
          <h2 class="text-2xl font-bold mb-4">Efectividad por Nota</h2>
          <div class="overflow-x-auto">
            <table
              id="efectividad-tabla"
              class="table-auto w-full border-collapse border border-gray-200"
            >
              <thead class="bg-gray-200">
                <tr>
                  <th class="border border-gray-300 px-4 py-2">Nota</th>
                  <th class="border border-gray-300 px-4 py-2">Total</th>
                  <th class="border border-gray-300 px-4 py-2">Correctas</th>
                  <th class="border border-gray-300 px-4 py-2">Efectividad</th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
        </div>
        <div class="border border-gray-500 p-5 rounded-lg">
          <h2 class="text-2xl font-bold mb-4 text-gray-800">Estadísticas</h2>
          <div class="grid grid-cols-1 md:grid-cols-1 gap-4">
            <div>
              <div
                class="flex justify-between items-center bg-gray-200 p-2 rounded"
              >
                <p class="font-semibold text-gray-800">Total de notas</p>
                <span
                  id="total-notas"
                  class="badge bg-blue-500 text-white rounded-full px-2 py-1"
                  >0</span
                >
              </div>
              <div
                class="flex justify-between items-center bg-gray-200 p-2 rounded mt-2"
              >
                <p class="font-semibold text-gray-800">
                  Total de notas correctas
                </p>
                <span
                  id="total-correctas"
                  class="badge bg-green-500 text-white rounded-full px-2 py-1"
                  >0</span
                >
              </div>
            </div>
            <div class="flex justify-center">
              <div class="max-w-xs">
                <canvas id="porcentajeCorrectasChart" class="w-full"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
